@model CrudProduto.Models.ViewModels.AcessorioViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Novo</h2>

<h4>Acessorio Opcional</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                *<label asp-for="acessorioO.produtoId" class="control-label"></label>
                <select asp-for="acessorioO.produtoId" asp-items="@(new SelectList(Model.produtos,"id","nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                *<label asp-for="acessorioO.nome" class="control-label"></label>
                <input asp-for="acessorioO.nome" class="form-control" />
                <span asp-validation-for="acessorioO.nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                *<label asp-for="acessorioO.descricao" class="control-label"></label>
                <input asp-for="acessorioO.descricao" class="form-control" />
                <span asp-validation-for="acessorioO.descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                *<label asp-for="acessorioO.quantidade" class="control-label"></label>
                <input asp-for="acessorioO.quantidade" class="form-control" />
                <span asp-validation-for="acessorioO.quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Itens com '*' são obrigatórios</label>
            </div>
            <hr />Usuário
            <div class="form-group">
                 <b><label asp-for="usuario.nome" class="control-label"></label></b>
                <input asp-for="usuario.nome" class="form-control" />
                <span asp-validation-for="usuario.nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Concluido" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Voltar </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
